:host([hidden])
{
    display: none;
}

:host
{
    display: block;
    border-radius: 50%;
    position: relative;
    height: 20em;
    width: 20em;
    shape-outside: circle();
}

:host:before
{
    background: black;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
}

div[part=hours],
div[part=minutes],
div[part=seconds],
div[part=face]
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div[part=face]
{
    counter-reset: numerals;
}

div[part=tick]:nth-of-type(5n+1)
{
    counter-increment: numerals;
}

div[part=tick]:nth-of-type(5n+1):before
{
    content: counter(numerals, upper-roman);
}

div[part=tick]
{
    position: absolute;
    top: 50%;
    left: 50%;
}
div[part=tick]:before
{
    position: absolute;
}
div[part=tick]:after
{
    content: "";
    background: #666;
    position: absolute;
    height: 0.5em;
    width: 1px;
}

div[part=tick]:nth-of-type(5n+1):after
{
    content: "";
    background: #333;
    position: absolute;
    height: 0.25em;
    width: 2px;
}

div[part=hours]
{
    animation: rotate 43200s infinite linear;
}
div[part=minutes]
{
    animation: rotate 3600s infinite steps(60);
}
div[part=seconds]
{
    animation: rotate 60s infinite steps(60);
}

div[part=hours]:after,
div[part=minutes]:after,
div[part=seconds]:after
{
    content: "";
    background: black;
    position: absolute;
    transform-origin: 50% 100%;
}
div[part=hours]:after
{
    height: 20%;
    left: 48.75%;
    top: 30%;
    width: 2.5%;
    border-radius: 50%/5%;
}
div[part=minutes]:after
{
    height: 40%;
    left: 49%;
    top: 10%;
    width: 2%;
    border-radius: 50%/4%;
}
div[part=seconds]:after
{
    background-color: red;
    height: 45%;
    left: 49.5%;
    top: 14%;
    width: 1%;
    border-radius: 50%/2%;
}

div[part=seconds]:before
{
    background: red;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.5%;
    height: 2.5%;
}
@keyframes rotate
{
    to
    {
        transform: rotate(360deg);
    }
}
